{#
	Renders a basic form for managing the given resources
#}
<form role="form" action="{{ action }}" method="{{ method }}"{% for attr, val in attributes %} {{ attr ~'='~ val }}{% endfor %}>
	<input type="hidden" name="_token" value="{{ csrf_token() }}"/>

	{# Render the resource inputs #}
	{% for resource in resources %}
		{{ resource.renderInput()|raw }}
	{% endfor %}

	<button type="submit" class="btn btn-primary">Submit</button>
</form>